:root {
    --width-height-margin: 20px;
}

body {
    display: flex;
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.titulo {
    margin: 40px;
    font-size: 30px;
    font-family: 'Grandstander', cursive;
}

.parede {
    min-width: var(--width-height-margin);
    height: var(--width-height-margin);
    background-color: blue;
}

.caminho {
    min-width: var(--width-height-margin);
    height: var(--width-height-margin);
}

.paredeLinha {
    display: flex;
    justify-content: center;
    margin: 0 var(--width-height-margin);
}

.labirinto {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(var(--width-height-margin)*23);
}

.jogador {
    width: var(--width-height-margin);
    height: var(--width-height-margin);
    position: absolute;
    top: calc(var(--width-height-margin)*9);
    left: calc(var(--width-height-margin)*0);
    background-image: url(img/twotone_shopping_cart_black_24dp.png);
    background-size: cover;
}

.pop-start{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.pop-message{
    background-color: rgba(27, 15, 78, 0.76);
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.692);
}
.pop-win{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.pop-winner{
    background-color: rgba(27, 15, 78, 0.76);
    width: 50%;
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.692);
}
#start{
    width: 40%;
    height: 10%;
    margin-top: 10%;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Grandstander', cursive;
    transition: 0.5s;
}
#start:hover{
    border: 2px solid gray;
    background-color: black;
    transition: 0.5s;
    color: gray;
}
#start:active{
    background-color: transparent;
    transition: 0.5s;
}
#close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Grandstander', cursive;
    transition: 0.5s;
}
#close:hover{
    border: 2px solid gray;
    background-color: black;
    transition: 0.5s;
    color: gray;
}
#close:active{
    background-color: transparent;
    transition: 0.5s;
}
.message{
    width: 85%;
    font-size: 20px;
    font-family: 'Grandstander', cursive;
    color: white;
    line-height: 1.3;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
#won,#lost{
    display: none;
}

.timer{

}